<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../public/css/styleProgramacao.css">
      <link rel="stylesheet" href="../public/css/navbar.css">
      <link rel="stylesheet" href="../public/css/footer.css">
      <script src="../public/scripts/scriptProgramacao.js"></script>
      <script src="../public/scripts/scriptRotas.js"></script>
      <script src="../public/scripts/header.js"></script>
      <title>Brasinema</title>
    </head>

        <body>
            <%- include("./partials/header.ejs") %>  <!-- Header-->
            
            <main>

                <div class="divTitle">
                    <h2 class="programTitle">Programação</h2>
                </div>

                <div class="divProgram">
                    <div class="programLine">
                        <div class="programText">
                            <div class="programDate">
                                <p class="dateText">02/05 | Segunda-Feira</p>
                            </div>

                            <div class="divSeta" id="seta1" onclick="abreLinha1()">
                                <img src="../public/imagens/overlay/arrowdowntrue.png" width="35px" id="setaimg1">
                            </div>
                        </div>

                        <div class="programContentFull" id="pcf1">
                            <p class="nextSeason">Próximas Sessões</p>

                            <div class="programContent">

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="../public/imagens/filmes/spiderman2.jpg" class="imgbanner" width="90%" onclick="click2()">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="../public/imagens/filmes/spiderman2.jpg"  class="imgbanner" width="90%" onclick="click2()">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="../public/imagens/filmes/batman.jpg"  class="imgbanner" width="90%" onclick="click3()">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="../public/imagens/filmes/spiderman2.jpg" class="imgbanner" width="90%" onclick="click3()">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="programLine">
                        <div class="programText">
                            <div class="programDate">
                                <p class="dateText">03/05 | Terça-Feira</p>
                            </div>

                            <div class="divSeta" id="seta2" onclick="abreLinha2()">
                                <img src="imagens/overlay/arrowdowntrue.png" width="35px" id="setaimg2">
                            </div>
                        </div>

                        <div class="programContentFull" id="pcf2">
                            <p class="nextSeason">Próximas Sessões</p>

                            <div class="programContent">

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/spiderman2.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/spiderman2.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="programLine">
                        <div class="programText">
                            <div class="programDate">
                                <p class="dateText">04/05 | Quarta-Feira</p>
                            </div>

                            <div class="divSeta" id="seta2" onclick="abreLinha3()">
                                <img src="imagens/overlay/arrowdowntrue.png" width="35px" id="setaimg3">
                            </div>
                        </div>

                        <div class="programContentFull" id="pcf3">
                            <p class="nextSeason">Próximas Sessões</p>

                            <div class="programContent">

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/spiderman2.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="programLine">
                        <div class="programText">
                            <div class="programDate">
                                <p class="dateText">05/05 | Quinta-Feira</p>
                            </div>

                            <div class="divSeta" id="seta2" onclick="abreLinha4()">
                                <img src="imagens/overlay/arrowdowntrue.png" width="35px" id="setaimg4">
                            </div>
                        </div>

                        <div class="programContentFull" id="pcf4">
                            <p class="nextSeason">Próximas Sessões</p>

                            <div class="programContent">

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/spiderman2.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/spiderman2.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/spiderman2.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/spiderman2.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="programLine">
                        <div class="programText">
                            <div class="programDate">
                                <p class="dateText">06/05 | Sexta-Feira</p>
                            </div>

                            <div class="divSeta" id="seta2" onclick="abreLinha5()">
                                <img src="imagens/overlay/arrowdowntrue.png" width="35px" id="setaimg5">
                            </div>
                        </div>

                        <div class="programContentFull" id="pcf5">
                            <p class="nextSeason">Próximas Sessões</p>

                            <div class="programContent">

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="programLine">
                        <div class="programText">
                            <div class="programDate">
                                <p class="dateText">07/05 | Sábado</p>
                            </div>

                            <div class="divSeta" id="seta2" onclick="abreLinha6()">
                                <img src="imagens/overlay/arrowdowntrue.png" width="35px" id="setaimg6">
                            </div>
                        </div>

                        <div class="programContentFull" id="pcf6">
                            <p class="nextSeason">Próximas Sessões</p>

                            <div class="programContent">

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="programLine">
                        <div class="programText">
                            <div class="programDate">
                                <p class="dateText">08/05 | Domingo</p>
                            </div>

                            <div class="divSeta" id="seta2" onclick="abreLinha7()">
                                <img src="imagens/overlay/arrowdowntrue.png" width="35px" id="setaimg7">
                            </div>
                        </div>

                        <div class="programContentFull" id="pcf7">
                            <p class="nextSeason">Próximas Sessões</p>

                            <div class="programContent">

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>
    
                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                                <div class="programBanner">
                                    <div class="bannerImg bannerText">
                                        <img src="imagens/filmes/batman.jpg" class="imgbanner" width="90%">
                                        <p>18:00 - Dublado</p>
                                        <p>Sala 024</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                

            </main>

            <%- include("./partials/footer.ejs") %> <!-- Footer-->
            </body>
            