<footer>
    <div class="footer-div">
        <p class="margem-p">Política de privacidade</p>
        <div class="margem-p">
            <!--<img class="footer-img" src="img/Logo.png">-->
            <p>Copyright © 2022 BRASINEMA</p>
        </div>
        <p class="margem-p">Termos de uso</p>
    </div>
</footer>