<header>
    <nav>
        <a class="logo" href="/">
            <img src="../public/imagens/overlay/Logo_uni-cine.png">
        </a>

        <a href="/admin">Sair</a>
    </nav>
    
    </div>
  </header>