/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 66%;
  position: relative;
  box-shadow: rgba(0, 0, 1, 0.5) 0px 7px 29px 0px;
  margin: auto;
  margin-top: 2vh;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

#firstdiv{
    display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #494949;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/

/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/

main{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-image: linear-gradient(45deg, rgb(73, 73, 73), rgb(0, 0, 0));
    height: fit-content;
    padding-bottom: 7vh;
    padding-top: 74px;
    min-height: 75vh;
} 


.body_main{
    margin: auto;
    padding-top: 50px;
    width: 100%;
    height: auto;
}

.psala{
    display: inline;
}

.sessiontitle{
    color: white;
    padding: 10px 15px;
}

.movietitle{
    font-size: 23px;
}

.square{
    border-style: solid;
    border-color: rgb(24, 24, 24);
    border-width: 1px;
}


.programContent{
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.programBanner{
    display: inline-block;
    position: relative;
    box-shadow: rgba(0, 0, 1, 0.5) 0px 7px 29px 0px;
    width: 23%;
}

.programBanner:hover{
    box-shadow: #ffd700 0px 4px 15px 0px;
    animation-name: boxGlow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes boxGlow {
    0%{
        box-shadow: #ffd700 0px 4px 15px 0px;
    }
    20%{
        box-shadow: #867200 0px 4px 15px 0px;
    }
    40%{
        box-shadow: rgba(0, 0, 1, 0.5) 0px 4px 15px 0px;
    }
    60%{
        box-shadow: #867200 0px 4px 15px 0px;
    }
    80%{
        box-shadow: #ffd700 0px 4px 15px 0px;
    }
    100%{
        box-shadow: #867200 0px 4px 15px 0px;
    }
}

.imgbanner{
    border-style: solid;
    border-width: 0.1vh;
    border-color: #111111;
}
.filmesDestaque{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    display: block;
    margin-left: 17%;
    margin-right: 17%;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 100px;
    position: relative;
    width: 66%;
}

.bannerText{
    background-color: #111111;
    border-style: solid;
    border-width: 5px;
    border-radius: 6px;
    border-color: #111111;
    box-shadow: rgba(0, 0, 1, 0.5) 0px 7px 29px 0px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: bold;
    height: 100%;
}

.bannerText:hover{
    color: #ffd700;
}

.movieP{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 95%;
}
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/

/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/

.movieimg{ 
    float: right;
    color: #fff;
    position: relative;
    padding-left: 15px;
    width: 30%;
}

.moviecontent{
    text-align: left;
    font-size: 17px;
    display: inline;
}

#txtbatman{
    text-align: justify;
}

.principal{
    color: white;
    text-align: left;
    position: relative;
    top: 18%;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffd700;
    border-radius: 10px;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 20px;
    /*box-shadow: rgba(0, 0, 1, 0.5) 0px 7px 29px 0px;*/
    background-color: rgb(24, 24, 24);
    animation-name: backgroungGlow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes backgroungGlow {
    0%{
        box-shadow: #000000 0px 0px 29px 5px;
    }
    25%{
        box-shadow: #867200 0px 0px 29px 5px;
    }
    50%{
        box-shadow: #ffd700 0px 0px 29px 5px;
    }
    75%{
        box-shadow: #867200 0px 0px 29px 5px;
    }
  100%{
        box-shadow: #000000 0px 0px 29px 5px;
    }
}

/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/


